{% extends 'layouts/app.twig' %}
{% block title %}Residential Mosquito Control Treatment - Mosquito Killers{% endblock %}
{% block description %}Mosquitoes are resilient pests that will not only ruin your outdoor experience, but also carry dangerous vector-borne diseases. At Mosquito Killers, our most popular mosquito control treatment is our barrier protection spray program.{% endblock %}

{% block content %}
<section class="residential">
    <div class="page-head">
        <div class="page-head__container container">
            <h1>Residential Mosquito Control Treatment</h1>
        </div>

        <div class="breadcrumbs__container container">
            <ul class="breadcrumbs">
                <li><a href="{{ path_for('home') }}">Home</a></li>
                <li> / </li>
                <li>Residential Mosquito Control Treatment</li>
            </ul>
        </div>
    </div>

    {# End Page Head #}

    <div class="header-image">
        <div class="header-image__container container--full">
            <img src="assets/img/resr2.jpg" alt="Girl resting on the grass with her chin in hands" draggable="false">
        </div>
    </div>

    <!-- End Header Image -->

    <div class="residential-content">
        <div class="residential-content__container container">
            <div class="img-container column-6">
                <img src="assets/img/res2-600x600.jpg" alt="Residential Mosquito Control Treatment" draggable="false">
            </div>
            <div class="content-container column-6">
                <h2>Canada's most trusted mosquito control for your yard.</h2>
                <p>Mosquitoes are resilient pests that will not only ruin your outdoor experience, but also carry dangerous vector-borne diseases. At Mosquito Killers, our most popular mosquito control treatment is our barrier protection spray program.</p>
                <p>Applied by our professional applicators around your home and throughout your backyard, this acclaimed, trusted and dependable mosquito control solution eliminates mosquitoes on contact and continues working for up to 21 days, depending on the impact of rain and weather elements.</p>
                <p>To ensure that you receive effective mosquito control all season long we’ll return ever every 15-21 days to re-spray. Mosquito Killers will remind you in advance of an upcoming service and leave you notice that we’ve been there. You don’t even need to be home during the application.</p>
                <p>Mosquito Killers protects your family (and pets) from the nuisance and danger of mosquitoes by focusing on the areas of your property where mosquitoes are most likely to feed and harbour. Once applied, Mosquito Killers provides even greater protection as mosquitoes attempt to feed off your greenery, as the residue from the treatment will knock them down too.</p>
            </div>
        </div>
    </div>
</section>
    {# End Residential #}

{% endblock %}