<div class="accordion">
    <div class="accordion__panel">
        <h6 class="accordion__title">Will the product harm my garden and/or plants?</h6>
        <div class="accordion__content">
            <p>All of our products are engineered to affect only the types of organisms it was intended to. This means other organisms like plants and animals are unaffected. The type of products that we use are similar to those used in farming and agriculture. This means that although it is safe to use, we do recommend that you still wash anything that comes from a treated area before consumption.</p>
        </div>
    </div>
    <div class="accordion__panel">
        <h6 class="accordion__title">Is your product safe?</h6>
        <div class="accordion__content">
            <p>Our products have undergone significant testing and and approval processes to allow them to be safely used in Canada. Our standard products are safe to use in areas with children, pets or sensitive plants. But in the event that safety is a significant concern we typically suggest opting for our organic option.</p>
        </div>
    </div>
    <div class="accordion__panel">
        <h6 class="accordion__title">Is the product that you use organic?</h6>
        <div class="accordion__content">
            <p>The more common product that we use for our 21-Day treatment is not. However, we do have an organic 14-Day Natural Barrier Spray option available.</p>
        </div>
    </div>
    <div class="accordion__panel">
        <h6 class="accordion__title">If my yard is treated, but my neighbours' isn't, will my treatment still be effective?</h6>
        <div class="accordion__content">
            <p>Of course! Remember the key part of of treatment is creating an invisible barrier to prevent mosquitoes from entering your yard.</p>
        </div>
    </div>
    <div class="accordion__panel">
        <h6 class="accordion__title">Is the treatment affected by rain?</h6>
        <div class="accordion__content">
            <p>It most cases no. Our professional and skilled field team is trained to identity strategic areas to apply the treatment to reduce the likelihood that it can be effected or washed  away by rain. Examples of these strategic areas would be underneath leaves and other shaded areas. But if by some chance the effectiveness of our treatment is compromised by rain or some other factor just give us a call and we’ll come back and reapply.</p>
        </div>
    </div>
    <div class="accordion__panel">
        <h6 class="accordion__title">How long does the treatment last for?</h6>
        <div class="accordion__content">
            <p>Every time we apply our mosquito control treatment, we expect its effects to last for at least 21 days.</p>
        </div>
    </div>
    <div class="accordion__panel">
        <h6 class="accordion__title">How does it work?</h6>
        <div class="accordion__content">
            <p>At Mosquito Killers, we offer a variety of mosquito control solutions that we tailor to your specific needs. Our most common treatment is our 21-Day Barrier Spray. This works by repetitively treating standing water, foliage and other potential mosquito breeding sites with larvae. This eliminates the existing larvae and significantly reduces the likely hood of mosquito hatching in the future. Once that is done, our field team, will treat highly susceptible areas around your yard to eliminate existing adult mosquitoes an to create a barrier against new additional mosquitoes from entering your yard. We will then return every 21 days reapply and maintain the barrier.</p>
        </div>
    </div>
    <div class="accordion__panel">
        <h6 class="accordion__title">What types of areas do you treat?</h6>
        <div class="accordion__content">
            <p>At Mosquito Killers, our professional field team is trained to to apply our industry leading solutions to a variety of areas and surfaces including Shrubbery, foliage, fences, decks, gardens and grass.</p>
        </div>
    </div>
</div>