<div class="contact-popup closed">
    <div class="container">
        <i class="fa fa-times"></i>
        <h3>Contact Us</h3>
        <p>We're not around right now. But you can send us an email and we'll get back to you, asap.</p>
        <form action="{{ path_for('home') }}" method="post" class="form popup-form">
            <div class="container--full">
                <input type="text" name="name" id="name" placeholder="Name*" required="required">
                <input type="text" name="phone" id="phone" placeholder="Phone">
                <input type="email" name="email" id="email" placeholder="Email*" required="required">
                <textarea name="message" id="message" placeholder="Message*" required="required"></textarea>
                <div class="g-recaptcha" data-sitekey="6LcwPjUUAAAAACqi8M7t9E-8pfmehExcTaZyg8Fo"></div>
                <button class="button submit">Send</button>
            </div>
        </form>
    </div>
</div>